.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/build-old
public/hot
public/storage
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
Test@123456